git+https://github.com/dmiracle/python-install-test#subdirectory=test1
git+https://github.com/dmiracle/python-install-test#subdirectory=test1/extensions/main-subpkg-a
git+https://github.com/dmiracle/python-install-test#subdirectory=test1/extensions/main-subpkg-b