git+https://github.com/dmiracle/python-install-test#subdirectory=test2
git+https://github.com/dmiracle/python-install-test#subdirectory=test2/mainpkg/subpackage_a
git+https://github.com/dmiracle/python-install-test#subdirectory=test2/mainpkg/subpackage_b